/spring-barebones-javaconfig/target/
/spring-logback-javaconfig/target/
/uk.co.parso_spring-jpa-javaconfig_war_1.0-SNAPSHOT/target/
/spring-jpa-javaconfig/target/
/spring-boot-basic/target/
/spring-boot-basic2/target/
/spring-boot-oauth/target/
/spring-boot-amqp-server/target/
/spring-boot-amqp-client/target/
/spring-boot-amqp-server2/target/
/spring-boot-amqp-common/target/